.idea
Backend/server/src/main/resources/application.properties
hs_err_pid2792.log
hs_err_pid24428.log
replay_pid2792.log
replay_pid24428.log
Experiments/jnoesen/experiment1/.project
Experiments/jnoesen/experiment2/.project
Experiments/jnoesen/experiment3/.project
Experiments/jnoesen/experiment3/.settings/org.eclipse.buildship.core.prefs
Experiments/wszogg/Calculator/.project
Experiments/wszogg/Calculator/.settings/org.eclipse.buildship.core.prefs
Experiments/wszogg/exp1/309_Demo1_Experiments/.project
Experiments/wszogg/exp1/309_Demo1_Experiments/.settings/org.eclipse.buildship.core.prefs
Experiments/wszogg/HelloWorldExperiment/.project
Experiments/wszogg/HelloWorldExperiment/.settings/org.eclipse.buildship.core.prefs
Frontend/.project
Frontend/.settings/org.eclipse.buildship.core.prefs
Experiments/jnoesen/experiment1/.project
Experiments/jnoesen/experiment2/.project
